* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 20px;
  background: #eee;
  font-family: sans-serif;
}
h2 {
  clear: both;
}
img {
  max-width: 100%;
  height: auto;
}
.wrapper {
  max-width: 800px;
  margin: 0 auto;
}
.column-container,
.column-container__three{
  overflow: hidden;
  clear: both;
}
.column {
  padding: 10px;
  width: 50%;
  float: left;
  background: #ccc;
  border: 1px solid #000;
}
.column-container__three .column {
  width: 33.33%;
}
.column img {
  border: 1px solid #000;
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.complex .column {
  padding: 0;
}
.complex .top,
.complex .bottom {
  padding: 10px;
}
.complex .top {
  border-bottom: 1px solid #000;
  background: #fff;
}
.code {
  border: 1px solid #000;
  background: #fff;
  padding: 10px;
  margin: 20px 0;
}
.code pre {
  margin: 0;
  overflow: auto;
}
.buttons {
  margin: 20px 0;
}

@media only screen and (max-width: 700px) { 
  .hide-700 {
    display: none;
  }
  .column-container__three .column {
    width: 50%;
  }
  .complex .column {
    width: 100%;
  }
  .complex .top {
    float: left;
    width: 30%;
    border-bottom: 0;
  }
  .complex .bottom {
    float: left;
    border-left: 1px solid #000;
    width: 70%;
  }
}

@media only screen and (max-width: 400px) { 
  .column-container__three .column,
  .column {
    width: 100%;
  }
}