<link rel="stylesheet" href="css/css.css" />
<script src="js/jquery.js"></script>
<script src="js/conform.js"></script>

<div class="wrapper">

  <h1>Responsively conforming heights of columns using data-attributes and jQuery</h1>
  
  <p>Try resizing your browser to see how the columns behave as they respond to the browser size.</p>

  <h2>Normal, non-conformed behaviour</h2>

  <div class="column-container">
    <div class="column">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum obcaecati debitis aliquam, quo qui amet illo natus vel odio eveniet.
    </div>
    <div class="column">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat vel, perspiciatis consequuntur a. Ratione sit consectetur quod cum recusandae esse? Reprehenderit saepe ex iusto, eius maiores a sequi sunt odit laborum voluptas, omnis velit doloremque mollitia neque aut. Nihil ipsam sit natus reprehenderit aliquam nemo impedit, blanditiis exercitationem nobis error.
    </div>
  </div>

  <h2>Conforming a grid of columns</h2>

  <p>Standard grid that matches heights against the same row. As the browser gets smaller the items in the grid update their height. Once the grid items break in to full-width they have their heights normalised.</p>

  <div class="column-container" data-conform-set="example">
    <div class="column" data-conform="example">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum obcaecati debitis aliquam, quo qui amet illo natus vel odio eveniet.
    </div>
    <div class="column" data-conform="example">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat vel, perspiciatis consequuntur a. Ratione sit consectetur quod cum recusandae esse? Reprehenderit saepe ex iusto, eius maiores a sequi sunt odit laborum voluptas, omnis velit doloremque mollitia neque aut. Nihil ipsam sit natus reprehenderit aliquam nemo impedit, blanditiis exercitationem nobis error.Ratione sit consectetur quod cum recusandae esse? Reprehenderit saepe ex iusto, eius maiores a sequi sunt odit laborum voluptas, omnis velit doloremque mollitia neque aut. Nihil ipsam sit natus reprehenderit aliquam nemo impedit, blanditiis exercitationem nobis error.
    </div>
    <div class="column" data-conform="example">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum obcaecati debitis aliquam, quo qui amet illo natus vel odio eveniet.
    </div>
    <div class="column" data-conform="example">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat vel, perspiciatis consequuntur a. Ratione sit consectetur quod cum recusandae esse? Reprehenderit saepe ex iusto, eius maiores a sequi sunt odit laborum voluptas, omnis velit doloremque mollitia neque aut. Nihil ipsam sit natus reprehenderit aliquam nemo impedit, blanditiis exercitationem nobis error.
    </div>
  </div>

  <blockquote class="code"><pre>&lt;div data-conform-set="example">
  &lt;div data-conform="example">&lt;/div>
  &lt;div data-conform="example">&lt;/div>
&lt;/div></pre></blockquote>

  <h2>Ambiguous matching without values (nested conforms not supported)</h2>

  <p>If the grid is simple enough, you shouldn't need to specify an id against your grid items. This won't work with nested grids for obvious reasons.</p>

  <div class="column-container" data-conform-set>
    <div class="column" data-conform>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum obcaecati debitis aliquam, quo qui amet illo natus vel odio eveniet.
    </div>
    <div class="column" data-conform>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat vel, perspiciatis consequuntur a. Ratione sit consectetur quod cum recusandae esse? Reprehenderit saepe ex iusto, eius maiores a sequi sunt odit laborum voluptas, omnis velit doloremque mollitia neque aut. Nihil ipsam sit natus reprehenderit aliquam nemo impedit, blanditiis exercitationem nobis error.Ratione sit consectetur quod cum recusandae esse? Reprehenderit saepe ex iusto, eius maiores a sequi sunt odit laborum voluptas, omnis velit doloremque mollitia neque aut. Nihil ipsam sit natus reprehenderit aliquam nemo impedit, blanditiis exercitationem nobis error.
    </div>
    <div class="column" data-conform>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum obcaecati debitis aliquam, quo qui amet illo natus vel odio eveniet.
    </div>
    <div class="column" data-conform>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat vel, perspiciatis consequuntur a. Ratione sit consectetur quod cum recusandae esse? Reprehenderit saepe ex iusto, eius maiores a sequi sunt odit laborum voluptas, omnis velit doloremque mollitia neque aut. Nihil ipsam sit natus reprehenderit aliquam nemo impedit, blanditiis exercitationem nobis error.
    </div>
  </div>

  <blockquote class="code"><pre>&lt;div data-conform-set>
  &lt;div data-conform>&lt;/div>
  &lt;div data-conform>&lt;/div>
&lt;/div></pre></blockquote>

  <h2>Hiding columns between breakpoints won't break conforming</h2>

  <p>Some conforming solutions have problems with hiding columns, as hidden columns have different offsets. This solution disregards hidden columns altogether so the columns continue conforming even after columns have been hidden.</p>

  <div class="column-container__three" data-conform-set="example2">
    <div class="column" data-conform="example2">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum obcaecati debitis aliquam, quo qui amet illo natus vel odio eveniet.
    </div>
    <div class="column hide-700" data-conform="example2">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat vel, perspiciatis consequuntur a. Ratione sit consectetur quod cum recusandae esse? Reprehenderit saepe ex iusto, eius maiores a sequi sunt odit laborum voluptas, omnis velit doloremque mollitia neque aut. Nihil ipsam sit natus reprehenderit aliquam nemo impedit, blanditiis exercitationem nobis error.Ratione sit consectetur quod cum recusandae esse? Reprehenderit saepe ex iusto, eius maiores a sequi sunt odit laborum voluptas, omnis velit doloremque mollitia neque aut. Nihil ipsam sit natus reprehenderit aliquam nemo impedit, blanditiis exercitationem nobis error.
    </div>
    <div class="column" data-conform="example2">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum obcaecati debitis aliquam, quo qui amet illo natus vel odio eveniet. Reprehenderit saepe ex iusto, eius maiores a sequi sunt odit laborum voluptas, omnis velit doloremque mollitia neque aut. Nihil ipsam sit natus reprehenderit aliquam nemo impedit, blanditiis exercitationem nobis error.
    </div>
  </div>  

  <h2>Matching a slave div to a master div</h2>

  <p>Sometimes you might want a column to match another column, but not the other way around. Master/Slave matching will match the slave to the master, but if the slave is bigger than the master it will continue to do it's own thang.</p>

  <div class="column-container">
    <div class="column" data-conform-slave="master-slave-example">
      <strong>Slave div</strong><br />
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum obcaecati debitis aliquam, quo qui amet illo natus vel odio eveniet.
    </div>
    <div class="column" data-conform-master="master-slave-example">
      <strong>Master div</strong><br />
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat vel, perspiciatis consequuntur a. Ratione sit consectetur quod cum recusandae esse? Reprehenderit saepe ex iusto, eius maiores a sequi sunt odit laborum voluptas, omnis velit doloremque mollitia neque aut. Nihil ipsam sit natus reprehenderit aliquam nemo impedit, blanditiis exercitationem nobis error.
    </div>
  </div>

  <br />

  <div class="column-container">
    <div class="column" data-conform-slave="master-slave-example-2">
      <strong>Slave div</strong><br />
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat vel, perspiciatis consequuntur a. Ratione sit consectetur quod cum recusandae esse? Reprehenderit saepe ex iusto, eius maiores a sequi sunt odit laborum voluptas, omnis velit doloremque mollitia neque aut. Nihil ipsam sit natus reprehenderit aliquam nemo impedit, blanditiis exercitationem nobis error.
    </div>
    <div class="column" data-conform-master="master-slave-example-2">
      <strong>Master div</strong><br />
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum obcaecati debitis aliquam, quo qui amet illo natus vel odio eveniet.
    </div>
  </div>

  <blockquote class="code"><pre>&lt;div>
  &lt;div data-conform-slave="master-slave-example">&lt;/div>
  &lt;div data-conform-master="master-slave-example">&lt;/div>
&lt;/div></pre></blockquote>

  <h2>Conforming happens again after images load</h2>

  <p>Can be very slow if there are a lot of images. There is another conform run after the page has loaded fully, so if there are a lot of images it will conform again anyway. This method ensures it will conform over and over again after each image loads if it's absolutely necessary.</p>

  <div class="column-container" data-conform-set="example4" data-conform-images>
    <div class="column" data-conform="example4">
      <img src="http://placehold.it/300x300" />
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum obcaecati debitis aliquam, quo qui amet illo natus vel odio eveniet.
    </div>
    <div class="column" data-conform="example4">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat vel, perspiciatis consequuntur a. Ratione sit consectetur quod cum recusandae esse? Reprehenderit saepe ex iusto, eius maiores a sequi sunt odit laborum voluptas, omnis velit doloremque mollitia neque aut. Nihil ipsam sit natus reprehenderit aliquam nemo impedit, blanditiis exercitationem nobis error.
    </div>
  </div>

  <blockquote class="code"><pre>&lt;div data-conform-set data-conform-images>
  &lt;div data-conform>&lt;/div>
  &lt;div data-conform>&lt;/div>
&lt;/div></pre></blockquote>

  <h2>Nested Conforms</h2>

  <div class="column-container" data-conform-set="example5">
    <div class="column" data-conform="example5">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum obcaecati debitis aliquam, quo qui amet illo natus vel odio eveniet.
      <div class="column-container" data-conform-set="example5b">
        <div class="column" data-conform="example5b">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum obcaecati debitis aliquam, quo qui amet illo natus vel odio eveniet.
        </div>
        <div class="column" data-conform="example5b">
          Lorem ipsum dolor sit amet.

          <div class="column-container" data-conform-set="example5d">
            <div class="column" data-conform="example5d">
              Lorem ipsum.
            </div>
            <div class="column" data-conform="example5d">
              Lorem ipsum dolor sit amet.
            </div>
          </div>

        </div>
      </div>  
    </div>
    <div class="column" data-conform="example5">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat vel, perspiciatis consequuntur a. Ratione sit consectetur quod cum recusandae esse? Reprehenderit saepe ex iusto, eius maiores a sequi sunt odit laborum voluptas, omnis velit doloremque mollitia neque aut. Nihil ipsam sit natus reprehenderit aliquam nemo impedit, blanditiis exercitationem nobis error.
      <div class="column-container" data-conform-set="example5c">
        <div class="column" data-conform="example5c">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum obcaecati debitis aliquam, quo qui amet illo natus vel odio eveniet.
        </div>
        <div class="column" data-conform="example5c">
          Lorem ipsum dolor sit amet.
        </div>
      </div>  

    </div>
  </div>  

  <blockquote class="code"><pre>&lt;div data-conform-set="main">
  &lt;div data-conform="main">
    &lt;div data-conform-set="nested-set">
      &lt;div data-conform="nested-set">&lt;/div>
      &lt;div data-conform="nested-set">&lt;/div>
    &lt;/div>
  &lt;/div>
  &lt;div data-conform="main">&lt;/div>
&lt;/div></pre></blockquote>

  <h2>Matching Not Depending on Source Order</h2>

  <div class="column-container complex" data-conform-set="complex" data-conform-agnostic>
    <div class="column">
      <div class="top" data-conform="complex">
        <strong>Desktop Top, Mobile Left</strong><br />
        <strong>First in source order</strong><br />
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse assumenda nihil voluptates, quaerat hic eius doloremque quo corporis nisi error.
      </div>
      <div class="bottom" data-conform="complex">
        <strong>Desktop Bottom, Mobile Right</strong><br />
        <strong>Second in source order</strong><br />
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, distinctio.
      </div>
    </div>
    <div class="column">
      <div class="top" data-conform="complex">
        <strong>Desktop Top, Mobile Left</strong><br />
        <strong>Third in source order</strong><br />
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse assumenda nihil voluptates, quaerat hic eius doloremque quo corporis nisi error. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse assumenda nihil voluptates, quaerat hic eius doloremque quo corporis nisi error.
      </div>
      <div class="bottom" data-conform="complex">
        <strong>Desktop Bottom, Mobile Right</strong><br />
        <strong>Fourth in source order</strong><br />
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, distinctio.
      </div>
    </div>
  </div>

  <blockquote class="code"><pre>&lt;div data-conform-set="main" data-conform-agnostic>
  &lt;div class="column">
    &lt;div data-conform="main">&lt;/div>
    &lt;div data-conform="main">&lt;/div>
  &lt;/div>
  &lt;div class="column">
    &lt;div data-conform="main">&lt;/div>
    &lt;div data-conform="main">&lt;/div>
  &lt;/div>
&lt;/div></pre></blockquote>

  <a href="tests.html">Conform.js Performance Test</a> | <a href="tests-old.html">Old Conform Performance Test</a>

</div>