<link rel="stylesheet" href="css/css.css" />
<script src="js/jquery.js"></script>
<script src="js/conform.js"></script>

<div class="wrapper">
  <h1>Conform.js Performance Tests</h1>

  <div class="buttons">
    <button id="addOneMore">+1</button>
    <button id="addTenMore">+10</button>
    <button id="addFiftyMore">+50</button>
    <button id="addOneHundredMore">+100</button>
    <button id="removeAllColumns">- Remove all columns</button>
    <button id="unconform">Unconform</button>
    <button id="reconform">Manually Fire Reconform</button>

    <div>
      &nbsp;<br />
      Number of columns: <span id="column-counter">1</span>
    </div>
  </div>

  <div class="column-container" id="column-container" data-conform-set="tester">
    <div class="column" data-conform="tester">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
  </div>
</div>

<script>

  $(function(){

    var $columnContainer = $("#column-container");
    var loremString = "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat vel, perspiciatis consequuntur a. Ratione sit consectetur quod cum recusandae esse? Reprehenderit saepe ex iusto, eius maiores a sequi sunt odit laborum voluptas, omnis velit doloremque mollitia neque aut. Nihil ipsam sit natus reprehenderit aliquam nemo impedit, blanditiis exercitationem nobis error.";
    
    var updateNumberOfColumns = function(){
      var numberOfColumns = $columnContainer.find(".column").length;
      $("#column-counter").text(numberOfColumns);
    }

    var generateRandomLorem = function(){
      var randomLoremMin = 11;
      var randomLoremMax = loremString.length;
      var randomLorem = loremString.substr( 0, Math.random() * (randomLoremMax - randomLoremMin) + randomLoremMin );
      return randomLorem;
    }

    var addColumns = function(number) {
      var $newColumn = $("<div />").addClass("column").attr("data-conform", "tester");
      for (var i = 0; i < number; i++) {
        $newColumn.clone().text(generateRandomLorem()).appendTo($columnContainer);
      }
      $columnContainer.trigger("reconform");
      updateNumberOfColumns();
    }

    $("#addOneMore").on("click", function(e){
      e.preventDefault();
      addColumns(1);
      updateNumberOfColumns();
    });

    $("#addTenMore").on("click", function(e){
      e.preventDefault();
      addColumns(10);
      updateNumberOfColumns();
    });

    $("#addFiftyMore").on("click", function(e){
      e.preventDefault();
      addColumns(50);
      updateNumberOfColumns();
    });

    $("#addOneHundredMore").on("click", function(e){
      e.preventDefault();
      addColumns(100);
      updateNumberOfColumns();
    });

    $("#removeAllColumns").on("click", function(e){
      e.preventDefault();
      $columnContainer.find(".column").remove();
      updateNumberOfColumns();
    });

    $("#unconform").on("click", function(e){
      e.preventDefault();
      $columnContainer.find(".column").height("auto");
    });

    $("#reconform").on("click", function(e){
      e.preventDefault();
      var t0 = performance.now();
      $columnContainer.trigger("reconform");
      var t1 = performance.now();
      alert("Time taken: " + ((t1 - t0) / 100) + " seconds.");
    });

  });

</script>